html {
    .bg-success {
        color: white !important;
    }

    .bg-primary {
        color: #fff !important;
    }

    .bg-secondary {
        color: #fff !important;
    }

    .bg-warning {
        color: #fff !important;
    }
}
.border,
.v-divider {
    border-color: rgba(var(--v-border-color), 1) !important;
}